## 打开文件时，EditConfig 插件会在打开的文件和每个父目录中查找名为 .editConfig 的文件
## 如果达到根文件路径或者找到具有 root=true 的 EditConfig 文件，将停止对 .editConfig文件爱你的搜索
## 如果 root=true 没有配置，EditConfig 插件将会在工程之外寻找， .editConfig文件

root = true

## 使用规则匹配文件
## *                  匹配任何字符串，路径分隔符(/)除外
## **                 匹配任意字符串
## ？                 匹配任何单个字符串
## [name]             匹配给定字符串中的任何单个字符串
## [!name]            匹配不在给定字符串中的任何单个字符
## {s1, s2, s3}       匹配任意给定字符串
## {num1……num2}       匹配 num1 和num2 之间的任何证书， 其中 num1 和 num2 可以是正数 或负数
## 如规则 [*.{js}]     只对 .js 文件生效，一般来说， 配置 [*] 对所有文件生效

[*]

## 缩进方式。 可以是 tab 或者 space
indent_style = space

## 缩进大小。当设置 tab 时，会取 tab_width值
indent_size = 2

## 通常不需要设置。当设置indent_size = tab 时才生效
# tab_width = 2

## shezhi lf、 cr 或者 crlf 来控制如何设置换行符
end_of_line = lf

## 设置为 latin1、 utf-8、 utf-8-bom、utf-16be 或者 utf-16be来控制字符集
charset = utf-8


## 设置为 true 以删除换行之前的任何空格字符， 设置为false以确保不会
trim_trailing_whitespace =  true

## 设置为 true 以确保文件在保存时以换行符结束，设置为 false 不以换行符结束
insert_final_newline = true


